@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.topSpace{
    width:auto;
    margin: 0 30px;
    border-top:1px solid darkgray;
}
.pageTitle{
    margin: 30px 70px;
    font-family: 'Pretendard-Regular', serif;
    font-size: medium;
}
.pageTitle .title{
    font-size: x-large;
}
.wholeSpace{
    height: 900px;
}

.bookSpace{
   margin: 30px 0 30px 200px;
}
.row{
    height: 200px;
}
.oneBookLine{
    display: flex;
}
.oneBookSpace{
    margin: 10px 20px;
}
button{
    background: none;
    border-style: none;
}
.oneBookSpace img{
    height: 180px;
    width: auto;
}
#bookTitle{
    margin-top: 10px;
    font-size: medium;
}
#author{
    margin: 10px 0 0 5px;
    font-size: small;
    color: darkgray;
}
.bottomSpace {
    margin: 500px auto;
    width: 150px;
    font-size: medium;
}

.bottomSpace a.active {
    border-radius: 50%;
    border: none;
    background-color: rgba(85, 107, 47, 0.7); /* 선택된 링크의 배경색 */
    color: white; /* 선택된 링크의 글자색 */
}

.bottomSpace a {
    border-radius: 50%;
    border: none;
    color: grey; /* 나머지 링크의 글자색 */
    padding: 8px 16px; /* 링크의 패딩 설정 */
    text-decoration: none; /* 링크에 밑줄 제거 */
}

.bottomSpace a:hover {
    border-radius: 50%;
    border: 1px solid darkgray;
    color: grey; /* 호버 시 글자색 변경 */
}
