@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.topSpace{
    width:auto;
    margin: 0 30px;
    border-top:1px solid darkgray;
}
.pageTitle{
    margin: 30px 70px;
    font-family: 'Pretendard-Regular', serif;
    font-size: medium;
}
.pageTitle .title{
    font-size: x-large;
}
.wholeSpace{
    height: 1000px;
}

.bookSpace{
   margin: 30px 0 30px 180px;
}
.row{
    height: 200px;
}
.oneBookLine{
    display: flex;
}
.oneBookSpace{
    margin: 10px 20px;
}
button{
    background: none;
    border-style: none;
}
.oneBookSpace img{
    height: 180px;
    width: auto;
}
#bookTitle{
    margin-top: 10px;
    font-size: medium;
}
#author{
    margin: 10px 0 0 5px;
    font-size: small;
    color: darkgray;
}
