@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.topSpace{
    width:auto;
    margin: 0 30px;
    border-top:1px solid darkgray;
}

.pageTitle{
    margin: 30px 70px;
    font-family: 'Pretendard-Regular', serif;
    font-size: medium;
}
.pageTitle .title{
    font-size: x-large;
}
.wholeSpace{
    margin: 30px 90px 10px 90px;
    height: 380px;
    background-color: rgb(220,220,220,0.5);
    border-radius: 10px;
    border: none;
}

.w3-content{
    max-width:1200px !important;
    display: flex;
}
.w3-content .mainContent{
    position: absolute;
    left: 250px;
    width:40%;
    margin: 40px 20px;
    display: flex;
}
.mainContent .bookInfoSpace{
    margin: 80px 0 0 20px;
    width:200px;
    font-family: 'Pretendard-Regular', serif;
    font-size: medium;
}
.bookName{
    font-size: large;
    padding-bottom: 7px;
}
.authorAndPublisher{
    padding-bottom: 7px;
}
.bookPrice{
    padding-bottom: 15px;
}
.w3-col.s4{
    position: relative;
    left: 650px;
    margin-top:70px
}
.w3-content .w3-row-padding .w3-section{
    width:600px;
    padding: 20px 0;
    display: flex;
}
.w3-content .mainContent img{
    width:200px;
    height:300px;
}
.nowBookRow{
    height: 800px;
}
.bookSpace{
    margin: 50px 0 50px 180px;
}
.row{
    height: 200px;
}
.oneBookLine{
    display: flex;
    width:auto;
}
.oneBookSpace{
    margin: 10px 25px;
}
button{
    background: none;
    border-style: none;
}
.oneBookSpace img{
    height: 180px;
    width: auto;
}
#bookTitle{
    margin-top: 10px;
    font-size: medium;
}
#author{
    margin: 10px 0 0 5px;
    font-size: small;
    color: darkgray;
}
.bottomSpace {
    margin: 500px auto;
    width: 150px;
    font-size: medium;
}

.bottomSpace a.active {
    border-radius: 50%;
    border: none;
    background-color: rgba(85, 107, 47, 0.7); /* 선택된 링크의 배경색 */
    color: white; /* 선택된 링크의 글자색 */
}

.bottomSpace a {
    border-radius: 50%;
    border: none;
    color: grey; /* 나머지 링크의 글자색 */
    padding: 8px 16px; /* 링크의 패딩 설정 */
    text-decoration: none; /* 링크에 밑줄 제거 */
}

.bottomSpace a:hover {
    border-radius: 50%;
    border: 1px solid darkgray;
    color: grey; /* 호버 시 글자색 변경 */
}


