@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.wholeSpace{
    margin: 100px 350px;
    height: 1000px;
    width: auto;
}
.wholeSpace h3{
    font-family: 'Pretendard-Regular', serif;
    margin-bottom: 30px;
}
.detailSpace{
    border-top: 3px solid black;

}
.detailTitle{
    border-bottom: 1px solid black;
    padding: 30px 10px 10px 30px;
    display: flex;
    width:100%;
}
.title{
    font-family: 'Pretendard-Regular', serif;
    margin-bottom: 15px;
}
#orderDateSpan{
    width:60%;
    text-align: left;
}
#orderNo{
    margin-left: 300px;
    width:40%;
    text-align: right;
}

.detailContent{
    font-family: 'Pretendard-Regular', serif;
    border-bottom: 1px solid darkgray;
    padding: 30px 0;
    display: flex;
}
.content{
    text-align: left;
}
#imgContent{
    margin-left: 10px;
    width:40%;
}
#bookImg{
    width:40%;
}
#bookImg img{
    height: 80px;
    width:auto;
}
#bookImg a{
    text-decoration: none;
    color:black;
}
#bookName{
    padding: 60px 0;
    width:35%;
}
#bookName a{
    font-size: large ;
    text-decoration: none;
    color:black;
}
#bookInfo{
    font-size: medium;
    color: darkgray;
    margin-top: 10px;
}
#price{
    padding: 70px 10px 30px 45px;
    width:20%;
    font-size: large;
}

