@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.wholeSpace{
    margin: 100px 150px;
    height: 1000px;
    width: auto;
}
.wholeSpace h3{
    font-family: 'Pretendard-Regular', serif;
    margin-bottom: 30px;
}
.historyTitle{
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    display: flex;
    width:100%;
}
.title{
    font-family: 'Pretendard-Regular', serif;
    margin: 0 100px 0 5px;
    text-align: center;
}
#title1{
    width:10%;
}
#title2{
    width:40%;
}
#title3{
    width:10%;
}
#title4{
    width:10%;
}
#title5{
    width:10%;
}
.historyContent{
    font-family: 'Pretendard-Regular', serif;
    border-bottom: 1px solid darkgray;
    padding: 30px 0;
    display: flex;
    width:100%;
}
.content{
    text-align: center;
    margin: 0 100px 0 5px;
}
#orderDateSpan-\$\{loop\.index\}{
    width:10%;
}
#content2{
    padding-left: 30px;
    width:38%;
}
#content2 a{
    text-decoration: none;
    color:black;
}
#content3{
    width:10%;
}
#content4{
    width:10%;
}
#content5{
    width:10%
}